.wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
.wrapper .father {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  transition: 3s;
}
.wrapper .father .son {
  width: 100px;
  height: 100px;
  float: left;
}
.wrapper .father .son:first-child {
  background-color: pink;
  border-radius: 100% 0 0 0;
}
.wrapper .father .son:nth-child(2) {
  background-color: yellowgreen;
  border-radius: 0 100% 0 0;
}
.wrapper .father .son:nth-child(3) {
  background-color: skyblue;
  border-radius: 0 0 0 100%;
}
.wrapper .father .son:last-child {
  background-color: cyan;
  border-radius: 0 0 100% 0;
}
.wrapper .arrow {
  position: absolute;
  top: 40px;
  left: 100px;
  content: '';
  height: 60px;
  width: 5px;
  background-color: red;
}
